<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://use.typekit.net/vlg6may.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Taylor Swift Eras Tour Playlist Creator</title>
</head>
<body>
    <h1>Taylor Swift Eras Tour Playlist Creator</h1>
    <form method="post" action="/create/playlist">
        <label for="concert_date">Concert Date:</label>
        <input type="text" name="concert_date" id="concert_date"> <br><br>
        <label for="fav_song">Favorite Taylor Swift Song:</label>
        <input type="text" name="fav_song" id="fav_song"><br><br>
        <input type="submit" value="Create Playlist">
    </form>
</body>
</html>